body {
      background: lab(93.05% 0 -0.01 / 0.74);
      width: 300px;
      font-family: sans-serif;
      padding: 15px;
    }

input {
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 10px;
  column-width: 30% ;
  
} 

select {
  border: 1px solid #ccc;
  padding: 4px;
  margin-bottom: 10px;
  font-size: 0.73rem;
} 
.hidden { display: none; }
    

button {
  background-color: #1995dd; /* Example blue color */
  color: white;
  border: none;
  display: inline-block; 
  padding: 5px 10px; 
  font-size: 0.8rem;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.manefecturer{
  
  position: absolute;
  bottom: 10px;
  right: 10px; /* Changed from left to right */
  font-size: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #888;

}
/*class="col-md-6"*/
